<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h4>This content is not endorsed by or affiliated with Jagex.</h4>
    </div>
    <div class="footer-section">
      <h4>Resources</h4>
      <ul>
        <li><a href="/about">About</a></li>
        <li>
          <a href="https://oldschool.runescape.wiki/" target="_blank"
            >OSRS Wiki</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} RuneRoute. All rights reserved.</p>
  </div>
</footer>
