.main-content {
  min-height: calc(100vh - 200px);
  max-width: 190rem;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  background: var(--osrs-bg-2);
  border: 1px solid var(--osrs-border);
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.26);
}
